#rotate {
    width: 200px; 
    height: 200px;
    background-color: chocolate; 
    position: absolute;
} 

#rotate:hover {
    width: 200px; 
    height: 200px; 
    position: absolute;
    background-color: #AF5815;
    transform: rotateY(45deg);
    transition-timing-function: linear;
    transition: transform 2s;
}