#circle {
    width: 100px;
    height: 100px;
    background: #03c2fc;
    border-radius: 250px; 
    margin: 250px; 
    position: absolute;
  } 
  #circle:hover { 
    background-color:#d417b1;
    transform: scale(2,2);
    transition: transform 0.5s; 
    transition-timing-function: erase;
  }
